body 
{
  font-family: Tahoma, sans-serif;
  color: #048BA8;
  background-color: #EBE9E9; 
  margin-left: 50px;
  margin-right: 50px;
}
a
{ 
  color: #4BC0D9;
}
a:hover
{
  color: #9BC53D;
}

header 
{
  font-family: Courier, serif;
  text-align: center;
  color: #34344A;
}

footer 
{
  text-align: center;
}

figure 
{
  text-align: center;
}

.centered
{text-align: center;}

table
{
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  
}
td
{
  border: 2px solid black;
}
th
{
  border: 4px solid black;
}
table tr:nth-child(1)
{
  background-color:rgba(128,128,128,0.5)
}
table tr:nth-child(odd)
{
  background-color:rgba(128,128,128,0.3);
}