body
{
  font-family: Tahoma, sans-serif;
  color: #048BA8;
  background-color: #EBE9E9; 
}
a { color: #4BC0D9; }
a:hover { color: #9BC53D; }

header
{
  font-family: Courier, serif;
  text-align: center;
  color: #34344A;
}

footer
{
  text-align: center;
}

main 
{
  margin-left: 100px;
  margin-right: 100px;
}