body 
{
  font-family: Tahoma, sans-serif;
  color: #547AA5;
  background-color: #EBE9E9; 
  margin-left: 50px;
  margin-right: 50px;
}
a
{ 
  color: #4ECDC4;
  text-decoration: none;
}
a:hover
{
  color: #CC2936;
  text-decoration: none;
}

header 
{
  font-family: Courier, serif;
  text-align: center;
  color: #0E1C36;
}

footer 
{
  text-align: center;
}