<footer class="centered">
    <p>
        Created by <a href = "https://webpages.charlotte.edu/dteague6/itis3135/teaguecorp.net/">Teague Corp Ltd</a> &copy;2022.
        <br>
        <br>
        <a href = "" id="validation_link_html" style = "text-decoration: none;" target="_blank">
            <img src = "images/button_validation_html5.png" width="88" height="31" alt="HTML Validator">
        </a>
        <a href = "" id="validation_link_css" style="text-decoration: none;" target="_blank">
            <img src = "images/button_validation_css.png" width="88" height="31" alt="CSS Validator">
        </a>
        
    </p>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>