<footer>
    <nav>
        <a href = "https://webpages.charlotte.edu/dteague6/">Charlotte.edu</a> 👾
        <a href = "https://github.com/GingerWookiee">Github</a> 👾
        <a href = "https://gingerwookiee.github.io/itis3135/">Github.io</a> 👾
        <a href = "https://www.freecodecamp.org/GingerWookiee">freeCodeCamp</a> 👾
        <a href = "https://www.linkedin.com/in/daniel-teague-9a05761b7/">Linkedin</a>            </nav>
    Created by <a href = "teaguecorp.net/">Teague Corp Ltd</a> &copy;2022.
    <p>
        <a href = "https://jigsaw.w3.org/css-validator/check/referer" style="text-decoration: none;">
            <img src = "images/button_validation_css.png" alt="CSS Validator">
        </a>
        <a href = "https://validator.w3.org/check?uri=referer" style = "text-decoration: none;">
            <img src = "images/button_validation_html5.png" alt="HTML Validator">
        </a>
    </p>
</footer>