body 
{
  font-family: Tahoma, sans-serif;
  color: #BBBE64;
  background-color: #EAF0CE; 
  margin-left: 50px;
  margin-right: 50px;
}
a
{ 
  color: #0094C6;
}
a:hover
{
  color: #50514F;
}
header 
{
  font-family: Courier, serif;
  text-align: center;
  color: #3E442B;
}