<footer>
    <nav>
        <a href = "https://webpages.charlotte.edu/dteague6/">Charlotte.edu</a> 👾
        <a href = "https://github.com/GingerWookiee">Github</a> 👾
        <a href = "https://gingerwookiee.github.io/itis3135/">Github.io</a> 👾
        <a href = "https://www.freecodecamp.org/GingerWookiee">freeCodeCamp</a> 👾
        <a href = "https://www.linkedin.com/in/daniel-teague-9a05761b7/">Linkedin</a>            </nav>
    Created by <a href = "teaguecorp.net/">Teague Corp Ltd</a> &copy;2022.
    <p>
        <a href = "" id="validation_link_html" style = "text-decoration: none;">
            <img src = "images/button_validation_html5.png" width=""88" height=""31" alt="HTML Validator">
        </a>
        <a href = "" id="validation_link_css" style="text-decoration: none;">
            <img src = "images/button_validation_css.png" width="88" height="31" alt="CSS Validator">
        </a>
        
    </p>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>