<header>
    <h1>
        Daniel Teague 🐢 ITIS 3135 🐢 Dusty Turtle
    </h1>
    <nav>
        <a href = "./">Home</a> 📍
        <a href = "introduction.html">Introduction</a> 📍
        <a href = "contract.html">Contract</a> 📍
        <a href = "tables.html">Tables</a> 📍
        <a href = "forms.html">Forms</a> 📍
        <a href = "brand.html">Brand</a> 📍
        <a href = "website_evaluations.html">Website Evaluations</a> 📍
        <a href = "firstscripts.html">First Scripts</a> 📍
        <a href = "polygons.html">Polygons</a> 📍
        <a href = "calculator_try.html">Calculator Try</a> 📍
        <a href = "calculator_fcc.html">Calculator FCC</a> <br>
        <a href = "seperation_of_concerns.html">Seperation Of Concerns</a> 📍
        <a href = "arrays.html">Arrays</a> 📍
        <a href = "project_design_document.html">Project Design Document</a> 📍
        <a href = "slideshow.html">Slideshow</a> 📍
        <a href = "image_swap.html">Image Swap</a> 📍
        <a href = "Activity11/teague_Activity11.html" target="_blank">Accordion Widget</a> 📍
        <a href = "Activity12/teague_Activity12.html" target="_blank">Modify Carousel</a> 📍
        <a href = "project_peer_review_one.html">Peer Review 1</a> <br>
        <a href = "project_peer_review_two.html">Peer Review 2</a> 📍
        <a href = "Activity13/teague_Activity13.html" target="_blank">XML to JSON Conversion</a> 📍
        <a href = "Activity14/teague_Activity14.html" target="_blank">Loading Speaker Data</a> 📍
        <a href = "Activity15/teague_Activity15.html" target="_blank">use Expanded JSON</a>
    </nav>
    <hr>
    <nav>
        <a href = "hobby/index.html">Hobby</a> 📍
        <a href = "project/index.html">Project</a> 
    </nav>
    <hr>
</header>